<!-- Je vais factoriser le header de mes pages car il se répète sur quasiment toutes les pages, on rend la maintenance plus facile à faire ! -->

<footer>

    <!-- Dans le footer, je déclare que c'est moi qui ai réalisé le projet pour les droits d'auteur -->

    <p class="footer__author">Rémi Maestro-Villa, 2022.<br>
        Tous droits reservés.
    </p>

</footer>

<!-- Ici, je m'attaque au JS Front, je vais lier mon script ici pour qu'il délivre tous les écouteurs d'évènements que j'ai prévu de faire -->

<script src="/js/interactions.js"></script>

</body>

</html>