<!-- Je part chercher le code factorisé pour le header dans la mesure où il sera le même pour toutes les pages du site -->

<%- include ("partials/header") %>

<p class="main__description"> Vous cherchez à nous contacter ? La DailyPizz vous dit comment !</p>

<main class="main__pizza">

    <ul class="main__ul">

        <li class="main__contact--first"><a href="#" class="main__ul__ahref"> Localisation </a></li>

        <li class="main__contact--second"><a href="#" class="main__ul__ahref"> Téléphone </a></li>

        <li class="main__contact--third"><a href="#" class="main__ul__ahref"> Mail </a></li>

        <li class="main__contact--fourth"><a href="#" class="main__ul__ahref"> Horaires </a></li>

    </ul>

</main>

<!-- Le footer risque lui aussi de beaucoup se répéter, du coup on le factorise et on le déplace dans un partial -->

<!-- Bien évidemment, il faut quand même le mentionner ici, je le fais -->

<%- include ("partials/footer") %>